.card-wrapper {
  display: inline-block;
  padding: 1rem;
}

.card-wrapper-inner {
  flex-direction: column;
  display: flex;
  overflow: hidden;
  background-color: #fff;
  width: 380px;
  height: 220px;
}

.card-expander {
  @include transition();
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  border: 0;
  background: #fff;
  padding: 0;
  height: 0;
  overflow: hidden;
  z-index: 2;
}

.person-details__wrap {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.faux-table {
  margin-top: 40px;
}

.row__padding {
  padding-top: 25px;
}
.row__pad {
  vertical-align: middle;
  height: 55px;
  margin-top: 2px;
  align-items: center;
}

.col__border {
  border-right: 2px solid #fff;
  height: 100%;
  padding-top: 15px;
}

.card-wrapper {
  @include transition();
}
