.sider {
  position: fixed;
  left: 0;
  top: 30%;
  z-index: 900;
  width: 50px;

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  a {
    color: #000;
    text-decoration: none;
  }

  @include mq(600px, max-width, screen) {
    display: none;
  }
}
.sider__square {
    background-color: #D8D8D8;
    font-weight: 700;
    display: block;
    line-height: 48px;
    text-align: center;
    transition: background 200ms;
    width: 50px;
    padding: 0;

    &:hover {
      background-color: #053A93;
      color: #fff !important;
    }
}
.sider__nav {
  padding-left: 0!important;
  margin-left: -5px!important;
  font-family: 'Titillium Web' !important;
  &:hover {
      color: #fff!important;
    }
}
