.textblock {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: $font-size-base;
}

.textblock__center {
  text-align: center;
  line-height: 1.6rem;
}
