.toolbar--list {
  display: inline;
  list-style-type: none;
}

.toolbar-left {
flex: 1 0 25%;
}
.toolbar-mid {
  display: inline;

  label {
    margin-left: 60px;
    margin-right: 20px;
    float: left;
    position: relative;
  }
}
.toolbar-right {
  flex: 1 0 25%;
}

.toolbar {
  display: flex;

  height: 90px;
  background-color: #11222D;
  color: #fff;
}
.toolbar__section {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.toolbar__col-left {
  justify-content: flex-start;
  text-align: start;
}
.toolbar__col-right {
  justify-content: flex-end;
  text-align: end;
}
