.activeRoute {
  font-weight: bold;
  text-decoration: underline;
}
.headerHero {
  height: 465px;
  width: 100%;
  margin-top: -20px;
  justify-content: center;
}

.headerTextWrap {
  text-align: center;
}

.headerText {
  padding-top: 150px;
  color: #fff;
  font-size: 26px;
  font-weight: 400;
}

.searchInput {
  z-index: 1000;
}

.kudos {
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}
