// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// 1. COLORS
// 2. FONT SETTINGS
// -----------------------------------------------------------------------------

///
/// 1. COLORS
///
$gray: #e9e9e9;
$gray-light: #edf3f6;
$white: #ffffff;
$grape: #40404E;
$mirage: #1b1b25;
/// Borders
$border-color: #dddddd;

/// Shadows
$shadow-color: rgba(0, 0, 0, .2);
$box-shadow: 0 0 5px $shadow-color;
/// Copy text color
/// @type Color
$text-color: rgba(34, 34, 34, .87) !default;

/// Main color
/// @type Color
$main-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// Container's maximum width
/// @type Length
$max-width: 1200px !default;
$body-bg: $gray-light;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: (
  'tiny': (min-width: 500px),
  'small': (min-width: 768px),
  'medium': (min-width: 960px),
  'large': (min-width: 1200px),
) !default;

/// Used for margins
$block: 30px;
/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

///
/// 2. FONT SETTINGS
///

/// Regular font family
/// @type List
$text-font-stack: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Typography
$basefont: $text-font-stack;
$codefont: $code-font-stack;

$font-size-base:        16px;
$line-height-base:      1.5em;
$font-weight-base:      400;

$heading-font:          $basefont;
$heading-weight:        300;
$heading-case:          none;
