:global {
  @import 'base';
  @import '~normalize.css/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    background-color: $body-bg;
  }
  // Make all elements from the DOM inherit from the parent box-sizing
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  // Basic styles for links
  a {
    // color: $main-color;
    text-decoration: none;

    @include on-event {
      color: $text-color;
      text-decoration: underline;
    }
  }
}
