body {
  padding: 0;
  margin: 0;
  background-color: #EFF0F1;
}

.header-hero {
  height: 350px;
  width: 100%;
  background-color: #cfd3ff;
}

.card__wrap {
  background-color: #fff;
  width: 375px;
  height: 200px;
}
