.activeRoute {
  font-weight: bold;
  text-decoration: underline;
}
.headerHero {
  height: 465px;
  width: 100%;
  margin-top: -20px;
  justify-content: center;
}

.headerTextWrap {
  lost-align: center;
  text-align: center;
}

.headerText {
  padding-top: 350px;
  color: #fff;
  font-size: 26px;
}

.searchInput {
  padding-top: 350px;
}
