  html {
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    background-color: $body-bg;
    font-family: $text-font-stack;
  }
  // Make all elements from the DOM inherit from the parent box-sizing
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
