  html {
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    background-color: $body-bg;
    font-family: 'Titillium Web';
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

.wrap {
  display: flex;
  flex-direction: column;
  //max-width: 80%;
  max-width: 100%;
  padding: 0 10%;
  margin: 0 auto;
  align-content: center;
  position: relative;
}

.wrap__fluid {
  flex-flow: row wrap;
}

.onehun {
  width: 100%;
}

.nav__item {
  color: #fff;
  &:hover {
    background-color: #F0F0F0!important;
    a {
      color: #12222D!important;
    }
  }
  a {
    color: #fff;
    text-decoration: none;
    font-family: 'Titillium Web';
    font-size: 18px;
    letter-spacing: 0.45px;
    line-height: 41px;
    font-weight: 300;
    &:hover {
      color: #12222D!important;
    }
  }
}
.header__link {
  color: #fff;
  text-decoration: none;
  font-family: 'Titillium Web';
  font-size: 16px;
  font-weight: 600;
  vertical-align: middle;
  margin-top: -5px;
}
